*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: initial;
}

body {
  background: gray;
  font-weight: 600;
}

label {
  font-weight: 900;
  font-size: 18px !important;
}

p,
h2,
h1 {
  font-size: 24px;
  margin: 0;
  color: $dark;
}

a {
  color: $dark;
  text-decoration: none;
  width: 100%;
}

ul {
  margin: 0;
}

img {
  object-fit: cover;
}
