.el-form {
  margin-right: 5px;
  .row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    .el-form-item {
      margin-bottom: 30px;
      .el-form-item__content .el-form-item__error {
        font-size: 14px !important;
      }
      .el-form-item__label {
        word-break: break-word !important;
      }
    }
    .el-form-item__label {
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: start;
      p {
        margin-right: 5px;
      }
    }
    @include breakpoint-up('xl') {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      .el-form-item {
        margin-bottom: 20px;
      }
    }
    &.line {
      border-bottom: 1px solid #5b7196;
      margin-bottom: 30px;
      @include breakpoint-up('xl') {
        margin-bottom: 15px;
      }
    }
  }
  p {
    font-size: 18px;
  }
  .el-form-item {
    margin-bottom: 30px;
    align-items: center;
  }
  @include breakpoint-up('xl') {
    .el-form-item {
      margin-bottom: 20px;
    }
  }
}
